.container-box--component {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgb(20, 40, 80);
  border: 0.5rem solid rgb(182, 182, 182);
  border-radius: 0.25rem;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  margin: 1rem;
}

.search-form-unsub-success,
.search-form-error,
.form-error {
  margin: 0 0 1rem;
  font-size: 1.25rem;
  color: rgb(255, 100, 100);
  height: 100%;
  max-height: 1rem;
  min-height: 1rem;
  max-width: 286px;
}

.search-form-unsub-success,
.search-form-error {
  max-height: 2rem;
  min-height: 2rem;
}

.search-form-unsub-success {
  color: rgb(60, 180, 60);
}

.subscriber ul {
  padding: 0;
}

.subscriber li {
  display: flex;
  gap: 4px;
  margin: 0.25rem 0;
  list-style-type: none;
}

.subscriber p {
  font-weight: 600;
  margin: 0;
}

input {
  width: 100%;
  font-size: 1rem;
  background-color: rgb(215, 215, 215);
  padding: 0.15rem 0 0.15rem 0.5rem;
  border-radius: 0.35rem;
}

.input-error {
  margin: 0.25rem auto;
  font-size: 0.75rem;
  color: rgb(255, 100, 100);
  height: 100%;
  max-height: 1rem;
  min-height: 1rem;
  max-width: 286px;
}

button {
  width: 100%;
  margin: 1rem auto;
  padding: 0.5rem 0;
  border-radius: 0.35rem;
  font-size: 1.25rem;
  background-color: rgb(215, 215, 215);
  cursor: pointer;
}

button:disabled {
  background-color: rgb(140, 140, 140);
  color: rgb(96, 96, 96);
  cursor: not-allowed;
}

.unsubscribe {
  background-color: tomato;
}